body {
    background-color: white;
    font-family: arial,sans-serif;
}

#top_right {
    text-align: right;
}

#imgLogo {
    display: block;
    margin: 0 auto;
    padding-top: 200px;
}

.div_center {
    text-align: center;
}

.button_topright {
    background-color: rgb(60, 89, 255);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
}

.button_center {
    background-color: rgb(245, 245, 245);
    border-color: rgb(150, 150, 150, 0);
    border-radius: 3px;
    padding: 10px;
}

.button_center:hover {
    border-color: rgb(150, 150, 150, 1);
}

#text_center {
    text-align: center;
    padding: 25px;
}

input {
    display: block;
    margin: 25px auto;
    width: 400px;
    border-radius: 30px;
    padding: 10px;
    padding-left: 30px;
    border-color: rgb(240, 240, 240);
}