body {
    background-color: white;
    font-family: arial,sans-serif;
}

#top_right {
    text-align: right;
}

#imgLogo {
    display: block;
    margin: 0 auto;
    padding-top: 200px;
}

#button_center {
    text-align: center;
}

#text_center {
    text-align: center;
    padding: 25px;
}

input {
    display: block;
    margin: 25px auto;
    width: 400px;
}